@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

$offgrey: hsl(217, 19%, 35%);
$darkblue: hsl(214, 17%, 51%);
$greyblue: hsl(212, 23%, 69%);
$lightblue: hsl(210, 46%, 95%);

$white: #ffffff;

$radius: 10px;

* {
	font-size: 13px;
	box-sizing: border-box;
	font-family: 'Manrope', sans-serif;
}

html {
  height: 100%;
}

body {
  width: 100%;
  min-height: 100%;
  background: $lightblue;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: $offgrey;
}

h1 {
  font-size: 20px;
  letter-spacing: 0.2px;
  line-height: 28px;
  margin: 0 0 10px;
  color: $offgrey;
  // color: $darkblue;
  // color: $greyblue;
  // color: $lightblue;

  @media screen and (max-width: 767px) {
    font-size: 16px;
    line-height: 24px;
  }
}

p {
  letter-spacing: 0.2px;
  line-height: 20px;
}

img {
  width: 100%;
  height: auto;
}

#card {
  width: 100%;
  max-width: 730px;
  display: flex;
  flex-direction: row;
  flex-wrap: no-wrap;
  align-items: stretch;
  border-radius: $radius;
  background: $white;

  @media screen and (max-width: 767px) {
    width: 87%;
    flex-direction: column;
  }
}

.image {
  width: 285px;
  background: url(images/drawers.jpg) no-repeat transparent;
  background-size: cover;
  background-position: left top;
  border-top-left-radius: $radius;
  border-bottom-left-radius: $radius;

  img {
    display: none;
  }

  @media screen and (max-width: 767px) {
    width: 100%;
    height: 200px;
    border-radius: $radius;
  }
}

.text {
  width: calc(100% - 284px);
  padding: 32px 40px 30px;

  @media screen and (max-width: 767px) {
    width: 100%;
    padding: 36px 33px;
  }
}

.misc-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  margin: 20px 0 0;

  > img {
    width: 40px;
    height: auto;
    border-radius: 50%;
    overflow: hidden;
  }

  .about {
    padding-left: 16px;
  }

  p {
    margin: 0;
  }

  a.share {
    font-size: 0;
    clear: transparent;
    padding: 15px;
    background: url(images/icon-share.svg) no-repeat $lightblue;
    background-position: 50%;
    margin-left: auto;
    border-radius: 50%;
  }
}

.sharePopout {
    position: absolute;
    background: $darkblue;
    width: 248px;
    padding: 18px 36px 14px 38px;
    right: -107px;
    bottom: 0;
    border-radius: $radius;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    transition: 0.3s ease;
    opacity: 0;
    transform: scale(0);

    &.show {
      transform: scale(1);
      opacity: 1;
      bottom: 65px;
    }

    span {
      letter-spacing: 5px;
      color: $white;
    }

    .point {
      background: #6d7f97;
      padding: 16px;
      position: absolute;
      bottom: -6px;
      left: 0;
      right: 0;
      width: 100%;
      max-width: 10px;
      z-index: -1;
      margin: 0 auto;
      transform: rotate(45deg);
    }
}

.attribution { 
  font-size: 11px; 
  text-align: center; 
  position: fixed;
  bottom: 20px;

  a { 
    color: hsl(228, 45%, 44%); 
  }
}

 